* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.left-section {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.form input {
  width: 300px;
  height: 40px;
}

/* .right-section {
  display: flex;
  margin-right: 0;
  justify-content: space-evenly;
  align-items: center;
} */
.right-section {
  display: flex;
  margin-right: 0;
  justify-content: space-evenly;
  align-items: center;
  justify-content: normal;
  position: absolute;
  top: 37px;
  right: 116px;
}
.header-input {
  padding-left: -100px;
}

#logo {
  width: 40px;

  height: 40px;
  margin: 10px 10px;
}
#img-maroc {
  width: 15px;
  height: 15px;
}

li {
  list-style: none;
  display: inline;
  margin-right: 20px;
}
#shopping-cart {
  transition: 0.3s;
}
hr {
  background-color: rgba(0, 0, 0, 0.295);
  border-radius: 5px;
}
#shopping-cart:hover {
  color: rgba(7, 6, 7, 0.333);
  width: 30px;
}
a {
  color: black;
  text-decoration: none;
}
/* main*/
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "left_section right_section";
  gap: 10px;
  margin-bottom: 20px;
}
.part1 {
  grid-column: 1/3;
}

#colon {
  border: solid 2px rgba(10, 10, 10, 0.511);
  border: #00000017 solid 2px;
  border-radius: 5px;
}
.section {
  background-color: rgba(0, 0, 0, 0.103);
}
.left_section {
  grid-area: left_section;
}
.right-section {
  grid-area: right_section;
}
.box {
  background-color: aquamarine;
}

.parts1 {
  width: 100%;
  height: 60px;
  display: flex;
  padding-left: 15px;
  align-items: center;
  background-color: white;
  border: #00000017 solid 2px;
  border-radius: 5px;
  border-bottom: none;
}
.image_validation {
  background-color: green;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.void {
  background-color: rgba(0, 0, 0, 0.174);
  height: 100px;
  width: 100px;
}
.descriptionz {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-right: 10px;
}
.span {
  display: flex;
  margin-top: 40px;
}
.span1 {
  background-color: orange;
  width: 20px;
  display: flex;
  height: 20px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}
.span2 {
  background-color: orange;
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}
.parts2-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 30px 10px;
}
#one-four {
  padding-left: 40px;
}
#one-four i {
  padding-right: 10px;
}
.span span {
  padding-right: 10px;
}
#infromation {
  padding-right: 20px;
}
.parts2 {
  background-color: white;
  border: #00000017 solid 2px;
  border-radius: 4px;
  padding: 20px 25px;
}

.parts2 p:last-child {
  color: rgba(0, 0, 0, 0.365);
  padding: 20px 1px;
}
.parts2 section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
/* shopping */
.shopping_cart {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  position: absolute;
  top: 78px;
  right: 0;
  width: 50%;
  right: 0;
  background-color: orange;
  padding: 15px 10px;
}
.produit {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: white;
  padding: 5px 10px;
}
.botton {
  display: none;
  position: relative;

  width: 31px;
  height: 30px;
  flex-direction: column;
  flex-wrap: wrap;
}
.botton span {
  width: 100%;
  height: 5px;
  border-radius: 7px;
  background-color: black;
  margin-bottom: 3px;
}
.amazon {
  display: none;
}

@media screen and (max-width: 500px) {
  /* main */

  main {
    display: flex;
    flex-wrap: wrap;
  }
  .part1 {
    width: 90%;
  }
  .parts2 {
    width: 90%;
  }
  /* header */
  header {
    padding-right: 20px;
    padding-left: 0;
  }
  .amazon {
    display: flex;
  }
  .botton {
    display: flex;
    margin-left: 15px;
    position: static;
  }
  .right-section {
    width: 200px;
    height: 300px;
    background-color: black;
    position: absolute;
    top: 80px;
    left: 0;
    display: flex;
  }
  .siide {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
  }
  .siide li {
    width: 100%;
    color: white;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    transition: 0.3s;
  }
  .siide li:hover {
    background-color: rgba(0, 0, 0, 0.062);
  }

  .siide li a {
    color: white;
    transition: 0.3s;
  }
  .siide li a:hover {
    padding-left: 10px;
  }
  .form input {
    width: 175px;
    height: 35px;
  }
  .last_section {
    display: flex;
    position: relative;
  }
  /* shopping */
  .shopping_cart {
    width: 90%;
    padding: 15px 15px;
  }

  .paragraphe {
    font-size: xx-small;
  }
  .price h1,
  p {
    font-size: xx-small;
  }
  .mask {
    display: none;
  }
}

footer {
  background-color: rgb(48, 45, 51);
  color: beige;

  height: 60vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 20px;
}
footer a {
  color: aliceblue;
}
footer span {
  color: rgba(250, 235, 215, 0.637);
  padding-top: 20px;
}
.hidden {
  display: none;
}
